/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

svg.logo {
  width: 5px;
  vertical-align: center;
}

svg.logo:hover {
  fill: #0000FF;
}

span.site-name.can-hide {
  display: none;
}

